@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	color: #000;
}

ul, ol, dl {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
}


h1.brand a {
    background: url(../images/logo.png) #fff top left no-repeat;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 116px;
    height: 123px;
    margin-left: 56px;
    margin-top: 15px;
}

a img { 
	border: none;
}

a:link {
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-size: 13px;
	color: #006600;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
/*font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-decoration: none;*/
}

td, th {
	display: table-cell;
	vertical-align: inherit;
}

.hidden { 
  display: none;
}

#user_info {
    /*color: #888;*/
	
    
}

#user_info > a {
     /*margin-left: 25px; */
    font-size: 13px;
}

html, #splash{
  background: #fafafa;
}

#splashdiv {
  background: #fff url(../images/logo.png) no-repeat center 35px;
  width: 390px;
  padding-top: 170px;
  border: 1px solid #d6f9a2;
  margin-left: -195px;  
}

#splash .help-block {
 	display: none;
}

.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background-color: #FFF;
	margin: 0 auto; 
}

.topbar {
	border-bottom: 1px solid #78a338;
	border-left: 1px solid #78a338;
	border-right: 1px solid #78a338;
	padding: 5px 10px 0px 5px;
	
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	behavior: url(css/PIE.htc);
}

.topbar .switcher_bar {
  display: inline-block;
  height: auto;
  width: 160px;
  background-position: 140px center;
  margin-bottom: 0;
  font-size: 11px;
  padding: 0;
}

.topbar .switcher_bar a {
  padding: 2px 10px 1px;
  margin-left: 0;
  display: block;
}

.topbar .switcher_bar ul {
  width: 130px;
}



.page-header {
  /*margin: 0;
  padding-left: 40px;
  border: 0;*/
  display: inline-block;
	
}

.leftbar {
	padding: 0px;
	margin-bottom: 0px;
}

#main_content {
	margin-bottom: 20px;
}

.content {
	
	border-bottom: 1px solid #78a338;
  	border-left: 1px solid #78a338;
	border-right: 1px solid #78a338;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius:4px;
	behavior: url(css/PIE.htc);
}

#servers-operation {
	float: right;
	padding-bottom: 15px;
}
#serverList {
	padding:25px
}

#drives-operation {
	float: right;
	padding-bottom: 15px;
}

#driveList {
	padding:25px
}

#firewall {
	padding:25px
}

#snapshotList {
	padding:25px
}

#debugList {
	padding:25px
}

#payments {
	padding: 25px
}

.btn-create {
	color: #ff0000;;
	}

ul.nav a, ul.nav a:visited { 
	display: block; 
	text-decoration: none;
	color: #000;
}

.footer {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 10px 10px 10px;
	background-color: #a3ce62;
	position: relative;
	clear: both;
	border:1px solid #78a338;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	behavior: url(css/PIE.htc);
}

.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}



.switcher_bar {
    background-color: #a3ce62;
    width: 190px;
    height: 38px;
    padding: 5px 0;
    border: 1px solid #78a338;
    margin-left: 14px;
    margin-bottom: 15px;
    background-image: url(../images/drop_arrow.png);
    background-repeat: no-repeat;
    background-position: 170px 20px;
	border: 1px solid #78A338;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	behavior: url(css/PIE.htc);
}

.switcher_bar:hover {
  text-decoration: none;
  background-color: #a3ce62;
}

.switcher_bar a:hover {
  text-decoration: none;
}

.switcher_bar:focus {
  outline: none;
}

.switcher_bar h3 {
    color: #000;
    font-size: 16px;
    margin: -6px 0 0 14px;
    padding: 0;
}

.switcher_bar h4 {
    color: #000;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0;
}


.switcher_bar ul {
    border: 1px solid #78a338;
    margin-left: -1px;
    width: 190px;
}

.switcher_bar li a:hover{
  background: #a3ce62;
}


/* Actions dropdown */

td.actions_column {
  width: 150px;
  padding: 10px;
  position: relative;
  min-height: 20px;
}

td.actions_column .row_actions a,
td.actions_column .row_actions input,
td.actions_column .row_actions button {
  background: none;
  float: none;
  display: block;
  padding: 5px 10px;
  color: black;
  text-align: left;
  border-radius: 0;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  behavior: url(css/PIE.htc);
}

td.actions_column .row_actions .hide {
  display: none;
}

/* Makes size consistent across browsers when mixing "btn-group" and "small" */
.btn.hide, .btn-group .hide {
  display: none;
}
.btn-group .dropdown-toggle:focus {
  outline: none;
}
.dropdown-menu button {
  line-height: 18px; /* Matches rule for ".dropdown-menu a" in bootstrap */
  width: 100%;
}
.btn-group .dropdown-menu .btn {
  border-radius: 0;
  behavior: url(css/PIE.htc);
}
.dropdown-menu .btn.btn-danger,
.dropdown-menu .btn.btn-danger:hover,
.dropdown-menu .btn.btn-success,
.dropdown-menu .btn.btn-success:hover,
.dropdown-menu .btn.btn-info,
.dropdown-menu .btn.btn-info:hover {
  text-shadow: none; /* remove default bootstrap shadowing from button text. */
}
.dropdown-menu li:hover {
  background: none;
}
.dropdown-menu li.divider:hover {
  background-color: #E5E5E5;
}
td.actions_column .dropdown-menu a:hover,
td.actions_column .dropdown-menu button:hover {
  background-color: #a3ce62;
}
.dropdown-menu .btn.btn-danger {
  color: #C43C35;
}
.dropdown-menu .btn.btn-danger:hover {
  background-color: #a3ce62;
}

/*slider */
.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }

#register-form { width: 680px; margin-left: -340px; }
#register-form .radio.inline { padding: 5px; }
#register-form .control-group { padding: 0 0 0 4px; }
#register-form .control-group span.help { display: block; }
#register-form .control-group.error span.help { color: red; }
#register-form input,  #register-form textarea, 
#register-form select, #register-form .uneditable-input { margin-bottom: 2px; }
#register-form form .error { background: transparent; border: 0 none; }
#register-form #copy-address { float: right; }
#register-form h3 { padding: 0 4px; }

#payments h3 { padding: 0; }
#payments .error .help { color: red; }
