<script id="leftBarTemplate" type="text/html">
<div class="leftbar_t">
 <div class="accordion" id="accordion2">
     
     <div class="accordion-group">
        <div class="accordion-heading"> <a id="dupadupa" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-target="#servers" href="#collapseOne">Serwery </a> </div>
        <div id="collapseOne" class="accordion-body collapse in">
          <div class="accordion-inner"> Dodaj Server </div>
       </div>
     </div>

     <div class="accordion-group">
       <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"> Dyski </a> </div>
         <div id="collapseTwo" class="accordion-body collapse">
         <div class="accordion-inner"> Dodaj Dysk </div>
       </div>
     </div>

     <div class="accordion-group">
       <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree"> Kopie Migawkowe </a> </div>
        <div id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner"> Utwoz kopie </div>
       </div>
     </div>
       
     <div class="accordion-group">
       <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFor"> Firewalle </a> </div>
         <div id="collapseFor" class="accordion-body collapse">
         <div class="accordion-inner"> Dodaj Regule </div>
       </div>
     </div>
     <div class="accordion-group">
       <div class="accordion-heading"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFor"> Debug </a> </div>
         <div id="collapseFor" class="accordion-body collapse">
         <div class="accordion-inner"> Debug </div>
       </div>
     </div>

   </div>
</div>
</div></script>
