<script id="leftBarTemplate" type="text/html">
  <ul class="nav nav-tabs">
<%
    var navs = model.get("navs");
    for (var nidx in navs) {
        if (!navs[nidx].hasOwnProperty("url") || !navs[nidx].url.length) {
            continue;
        }
        if (navs[nidx].name == model.get("active")) {
%>
            <li class="active">
<%
        } else {
%>
            <li>
<%
        }
%>
        <a href="<%= navs[nidx].url %>"><%= UTILS.i18n.pluralise(navs[nidx].desc,0) %></a></li>
<%

    }
%>
  </ul>
</div></script>
