<script id="paymentPromoCodeTemplate" type="text/html">
<form class="form-horizontal">
  <a class="btn pull-right" href="#payments/history" data-i18n="View payment history"></a>
  <fieldset class="control-group">
    <legend data-i18n="Promotion code">Promotion code</legend>
    <label for="code" data-i18n="Enter code" class="control-label">Enter code</label>
    <div class="controls">
      <input id="code" name="code" class="span3"/>
      <button id="charge" class="btn btn-primary" data-i18n="Charge Account">Charge Account</button>
      <span class="help"></span>
    </div>
  </fieldset>
</form>
</script>
