<script id="paymentPayTemplate" type=text/html">
<div id="payment_pay_modal" class="modal">
<form id="payment_form" method="POST"> 

  <div class="modal-header">
    <a href="" class="close" data-dismiss="modal">x</a>
    <h3 data-i18n="Choose payment method">Choose payment method</h3>
  </div>

  <div class="modal-body">
    <ul id="payment_type_widget"></ul>
    <div class="clearfix"></div>
    <input type="hidden" name="pos_id" id="payment_pos_id" value="">
    <input type="hidden" name="pos_auth_key" id="payment_pos_auth_key" value="">
    <input type="hidden" name="session_id" id="payment_session_id" value="">
    <input type="hidden" name="amount" id="payment_amount" value="">
    <input type="hidden" name="order_id" id="payment_payment_id" value="">
    <input type="hidden" name="desc" id="payment_desc" value="">
    <input type="hidden" name="client_ip" id="payment_client_ip" value="">
    <input type="hidden" name="first_name" id="payment_last_name" value="">
    <input type="hidden" name="last_name" id="payment_first_name" value="">
    <input type="hidden" name="email" id="payment_email" value="">
    <input type="hidden" name="phone" id="payment_phone" value="">
    <input type="hidden" name="js" value="1">
  </div>

  <div class="modal-footer">
    <input class="btn btn-pay pull-right" type="submit" value="Pay">
    <a id="cancel-btn" class="close btn seconday cancel close s-cancel-button" data-dismiss="modal" data-i18n="Cancel">Cancel</a>
  </div>

</form>
</div>
</script>
