<script id="registerTemplate" type="text/html">
<div id="register-form" class="modal">
  <div class="modal-header">
    <h3 data-i18n="Registration">Registration</h3>
  </div>

  <form class="modal-body">

    <div class="row">
    <div class="span4">
      <h3 data-i18n="Account">Account</h3>

      <div class="control-group">
        <label class="control-label" for="registration_profile_username" data-i18n="Email">Email</label>
        <div class="controls">
          <input type="email" name="registration[profile][username]" id="registration_profile_username" />
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_profile_password">Hasło</label>
        <div class="controls">
          <input autocomplete="off" type="password" name="registration[profile][password]" id="registration_profile_password" />
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_profile_password_again">Powtórz hasło</label>
        <div class="controls">
          <input autocomplete="off" type="password" name="registration[profile][password_again]" id="registration_profile_password_again" />
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_profile_title">Tytuł</label>
        <div class="controls">
          <select name="registration[profile][title]" id="registration_profile_title" class="input-mini">
            <option value="" selected="selected"></option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
            <option value="Mrs">Mrs</option>
          </select>
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_profile_first_name">Imię</label>
        <div class="controls">
          <input type="text" name="registration[profile][first_name]" id="registration_profile_first_name" />
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_profile_last_name">Nazwisko</label>
        <div class="controls">
          <input type="text" name="registration[profile][last_name]" id="registration_profile_last_name" />
          <span class="help"></span>
        </div>
      </div>

    </div>
    <div class="span4">

      <h3>Adres korespondencyjny</h3>
        
      <div class="control-group">
        <label for="registration_account_address_street">Ulica</label>
        <div class="controls">
          <input type="text" name="registration[account_address][street]" id="registration_account_address_street" />
          <span class="help"></span>
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="registration_account_address_post_code">Kod pocztowy</label>
        <div class="controls">
          <input type="text" name="registration[account_address][post_code]" id="registration_account_address_post_code"  class="input-small"/>
          <span class="help"></span>
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="registration_account_address_city">Miasto</label>
        <div class="controls">
          <input type="text" name="registration[account_address][city]" id="registration_account_address_city" />
          <span class="help"></span>
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="registration_account_address_phone">Telefon</label>
        <div class="controls">
          <input type="text" name="registration[account_address][phone]" id="registration_account_address_phone" />
          <span class="help"></span>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="span4">

      <div class="control-group">
        <label for="registration_tenant_type">Typ konta</label>
        <div class="controls">
          <input name="registration[tenant][type]" type="radio" value="0" id="registration_tenant_type_0" checked="checked" class="company_type"/><label for="registration_tenant_type_0" class="radio inline">Osoba fizyczna</label>
          <input name="registration[tenant][type]" type="radio" value="1" id="registration_tenant_type_1"  class="company_type"/><label for="registration_tenant_type_1" class="radio inline">Firma</label>
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_tenant_company_name">Nazwa firmy</label>
        <div class="controls">
          <input type="text" name="registration[tenant][company_name]" id="registration_tenant_company_name" class="company" />
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_tenant_nip">Nip</label>
        <div class="controls">
          <input type="text" name="registration[tenant][nip]" id="registration_tenant_nip" class="company" />
          <span class="help"></span>
        </div>
      </div>

      <div class="control-group">
        <label for="registration_tenant_www">Www</label>
        <div class="controls">
          <input type="text" name="registration[tenant][www]" id="registration_tenant_www" class="company" />
          <span class="help"></span>
        </div>
      </div>

    </div>
    <div class="span4">
      
      <div class="control-group">
        <label for="registration_invoice_address_street">Ulica</label>
        <div class="controls">
          <input type="text" name="registration[invoice_address][street]" id="registration_invoice_address_street" class="company"/>
          <span class="help"></span>
        </div>
      </div>
      
      <div class="control-group">
        <label for="registration_invoice_address_post_code">Kod pocztowy</label>
        <div class="controls">
          <input type="text" name="registration[invoice_address][post_code]" id="registration_invoice_address_post_code" class="input-small company"/>
          <span class="help"></span>
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="registration_invoice_address_city">Miasto</label>
        <div class="controls">
          <input type="text" name="registration[invoice_address][city]" id="registration_invoice_address_city" class="company"/>
          <span class="help"></span>
        </div>
      </div>
      
      
      <div class="control-group">
        <label for="registration_invoice_address_phone">Telefon</label>
        <div class="controls">
          <input type="text" name="registration[invoice_address][phone]" id="registration_invoice_address_phone" class="company"/>
          <span class="help"></span>
        </div>
      </div>
        
    </div>
    </div>
  </form>

  <div class="clearfix"></div>
 
  <div class="modal-footer">
    <a id="register-btn" class="btn btn-primary" data-i18n="Register" href="#register">Register</a>
    <a id="back-btn" class="btn" data-i18n="Back to login" href="#auth/login">Back to login age</a>
    <a id="clear-btn" class="btn" data-i18n="Clear" href="#">Clear</a>
  </div>
</div>
</script>
