<script id="rootTemplate" type="text/html">
	<div class="container">
  		<div id='main_content' class="s-ie-fixed">

		
		<div id="topbar" class="topbar topbar-soli">
 		
    		<!-- end .topbar -->
		</div>
</div>
  		<div id="leftbar" class="leftbar">
        	<!-- end .leftbar --> 
  		</div>
		
  		
    		<div id='content' class='content'><br />
    			<!-- end .content --> 
    		
    	<!-- end .main_content --> 
 		</div>
  		<div class='footer'>
        <!-- end .footer -->
		</div>
  	<!-- end .container -->
  	</div>
</script>



