<script id="serverListTemplate" type="text/html">
<div>
<%
    for (var iidx in instanceModel.models) {
%>
<%= UTILS.i18n.pluralise("ID") %> : <%= instanceModel.models[iidx].get("id") %>,
<%= UTILS.i18n.pluralise("name") %> : <%= instanceModel.models[iidx].get("name") %>,
<%= UTILS.i18n.pluralise("RAM") %> <%= flavorModel.get(instanceModel.models[iidx].get("flavor").id).get("ram") %>
<%=  UTILS.i18n.pluralise("CPU") %> <%= flavorModel.get(instanceModel.models[iidx].get("flavor").id).get("vcpus") %>
<%=  UTILS.i18n.pluralise("Image") %> <%= JSON.stringify(imageModel.get(instanceModel.models[iidx].get("image").id).get("name")) %>
IPS: 
<%
        for (var asidx in instanceModel.models[iidx].get("addresses")) {
            addr = instanceModel.models[iidx].get("addresses")[asidx];
            for (var aidx in addr) {
%>
<%= addr[aidx].addr %>
<%
            }
        }
%>
</br>
<%
    }
%>
<pre>Instances: <%= JSON.stringify(instanceModel) %></pre>
<pre>Flavors: <%= JSON.stringify(flavorModel) %></pre>
<pre>Images: <%= JSON.stringify(imageModel) %></pre>
</div>
</script>
