<script id="topBarTemplate" type="text/html">
<a href="#"><img src="./images/logo.png" alt="RootBoox" /></a>
<div id="user_info" class="pull-right">
<!-- region start  -->
<div id="tenant_switcher" class="dropdown switcher_bar" tabindex="1">
<a class="dropdown-toggle" data-toggle="dropdown" href="#tenant_switcher">
  <h4>Zone</h4>
  <h3>r4cz1</h3>
  </a>
  <ul id="tenant_list" class="dropdown-menu">
  <li class="divider"></li>
  <li><a href="https://178.239.138.10:8433/javascript/acid/horizon-js/#auth/region/r4cz1">r4cz1</a></li>
  <li><a href="https://178.239.138.10:8433/javascript/acid/horizon-js/#auth/region/r4cz2">r4cz2</a></li>
  </ul>
  </div>
<!-- region end  -->
  Region: <a href="#auth/region/r4cz1">r4cz1</a> | <a href="#auth/region/r4cz2">r4cz2</a>
  <span data-i18n="Logged in as">Logged in as</span>: <%= model.get('username') %>
  <a href="#settings/" data-i18n="Settings">Settings</a>
  <a href="#auth/logout" data-i18n="Sign Out">Sign Out</a>
</div>
  <div class='page-header'>
    <h2 ><%= UTILS.i18n.pluralise(model.get("title")) %></h2>
  </div>
</script>
